.card {
  display: flex;
  gap: 30px;
}

.main_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.markers,
.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.markers {
  list-style-type: none;
}

.definition {
  display: flex;
  flex-direction: column;
  width: 600px;
}
