.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* max-width: 1000px; */
  /* height: 800px; */
  overflow-y: scroll;
  padding-right: 15px;
}

.list::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-light);
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--accent-red);
  border-radius: 5px;
}

.list::-webkit-scrollbar-track {
  background-color: var(--border-gray);
  border-radius: 5px;
}
